body {
    background-color: #f0fbfc;
    display: flex;
    flex-direction: column;
}

.txt-1 {
    font-weight: bold;
    font-size: 3em;
    margin-top: 0.8em;

}

.txt-2 {
    font-weight: 100px;
    font-size: 3em;
    margin-top: -0.4em;
}

.row {
    margin-top: 0.6em;
}

.card-body {
    background-color: #f0fbfc;
    border-style: none;
}

.col1,
.col2,
.col3 {
    margin-top: 1.5%;
}

.bottom {
    background-color: #008893;
}

.img {
    margin-left: 8.5%;
    height: 80%;
    width: 80%;
    margin-top: 2%;
}

.space {
    margin-top: 2%;
}

.containerwidth {
    width: 100%;
}

.wrapper {
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.toggle,
.content {
    font-family: "Poppins", sans-serif;
}

.toggle {
    width: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
}

.content {
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.faq{
    margin-top: 4%;
}












@media (max-width: 576px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    #navLinks {
        margin-left: 29.5%;
    }

    #carouselExampleFade {
        height: 80%;
        width: 80%;
        margin-left: 8.5%;
        margin-top: 39px;
    }

    #carouselExampleFade img {
        border-radius: 2em;
    }

    .row {
        margin-left: 10.5%;
        margin-right: 8.5%;
    }

    .col1,
    .col2,
    .col3 {
        margin-top: 0%;
    }


}
