body{
    background-color: #F0FBFC;

}
a{
    margin-left: 1em;
    padding: 7em;
}
.link{
    padding-left: 600px;
}
.navbar-brand{
    padding-left: 20px;
}
.btn-outline-info{
    background-color: #008893;
}

#carouselExampleSlidesOnly{
    padding-top: 20px;
    padding-bottom: 20px;
    /* display:flex;
    justify-content: center;
    align-items: center;  */
    height: 30em;
    width:74em;
    margin-left: 9em;
}

img{
    width: 100%;
    height: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand{
    padding-left: 3.5em;
}
