body {
    background-color: #f0fbfc;
}

.content1, .content3{
    background-color: #008893;
    color: #fff;
}

.content2 {
    margin-top: 4%;
}

.content1-1 {
    padding-top: 2%;
    padding-bottom: 2%;

}
.para1{
    padding-top: 3%;
}

.content2-1 {
    margin-top: 4%;
    margin-bottom: 5%;
}

.content3-1{
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: row;
}

.our {
    margin-top: -2%;
}

.para1 {
    margin-left: 4.5%;
    margin-top: 3%;
}

.para3{
    margin-top: 3%;
}

.para2 {
    margin-left: 15%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #008893 !important;
    border-color: #008893 !important;
}
.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    background-color: #008893 !important;
    border-color: #008893 !important;
    color: #fff !important;
}

.img1 {
    height: 65%;
    width: 70%;
    border-radius: 15px;
    margin-top: 10%;
    margin-left: 10%;
}

.img2 {
    height: 90%;
    width: 90%;
    margin-left: 20%;
    border-radius: 15px;
}

.img3 {
    border-radius: 15px;
    margin-top: 4%;
    margin-left: 10%;
    height: 85%;
    width: 85%;
}

.list {
    list-style-type: none;
}

/* xs */

@media ((min-width: 0px) and (max-width: 576px)) {
    .para1 {
        margin-left: 0%;
    }

    .img1 {
        margin-left: 15%;
        margin-top: 3%;
    }

    .para2 {
        margin-left: 0%;
    }
}

/* small */

@media ((min-width: 576px) and (max-width: 768px)) {
    .para1 {
        margin-left: 0%;
    }

    .img1 {
        margin-left: 15%;
        margin-top: 3%;
    }
    .img2 {
        margin-left: 9%;
    }

    .para2 {
        margin-left: 0%;
    }
    .para3{
        margin-left: 0%;
    }
}

/* medium */

@media ((min-width: 880px) and (max-width: 992px)) {
    .img1 {
        height: 45%;
        width: 70%;
        border-radius: 15px;
        margin-top: 25%;
        margin-left: 10%;
    }

    .img2 {
        height: 70%;
        width: 70%;
        margin-top: 8%;
    }
}


@media ((min-width: 768px) and (max-width: 880px)) {
    .img1 {
        height: 45%;
        width: 70%;
        border-radius: 15px;
        margin-top: 25%;
        margin-left: 10%;
    }

    .img2 {
        height: 45%;
        width: 70%;
        margin-top: 30%;
    }
}

/* large */

@media (min-width: 992px) {
    #navLinks {
            margin-left: 20%;
        }
}

/* footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #313232;
}

footer .content-f {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content-f p,
a {
    color: #fff;
}

footer .content-f .box-f {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content-f .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;

}

footer .content-f p {
    text-align: justify;
}

footer .content-f .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content-f .lower i {
    padding-right: 16px;
}

footer .content-f .middle {
    padding-left: 80px;
}

footer .content-f .middle a {
    line-height: 32px;
}

footer .content-f .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #232121;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

footer .content-f .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #008893;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #008893;
    transition: all 0.3s ease-in-out;
}

.content-f .right input[type="submit"]:hover {
    background: none;
    color: #008893;
}

footer .content-f .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid none;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}

.content-f .media-icons a:hover {
    border-color: #008893;
}
footer .bottom-f {
    width: 100%;
    text-align: right;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
}

footer .bottom-f a {
    color: #008893;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: #008893;
}

@media (max-width:992px) {
    footer .content-f .middle {
        padding-left: 50px;
    }
}

@media (max-width:768px) {
    footer .content-f .box {
        width: 50%;
    }

    .content-f .right {
        margin-top: 40px;
    }
}

@media (max-width:576px) {
    footer {
        position: relative;
    }

    footer .content-f .box-f {
        width: 100%;
        margin-top: 30px;
    }

    footer .content-f .middle {
        padding-left: 0;
    }
}

a {
    text-decoration: none;
}

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
   }
