body {
    background-color: #f0fbfc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.primary {
    color: #008893;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #008893 !important;
    border-color: #008893 !important;
}

.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    background-color: #008893 !important;
    border-color: #008893 !important;
    color: #fff !important;
}


.nav{
    background-color: #008893;
    width: 70px;
    border-radius: 0px 1em 1em 0px;
    padding: 0.4%;
    position: absolute;
    left:0%;
    top: 120px;
    box-shadow: 1px 1px 10px 2px #000;
    height: 80%;
}

.nav-a{
    padding-top: 20px;
    margin-left: 2px;
}

.nav-a:nth-of-type(1){
    padding-top: 20px;
    margin-left: 0px;
    margin-top:2px;
}

.navbar {
    display: none;
}

.page {
    height: 100%;
    width: 80%;
    background-color: rgba(0, 136, 147, 0.19);
    border-radius: 1.5em;
    padding-left:5%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 15%;
    box-shadow: 1px 1px 10px 2px #000;
    margin-bottom: 20%;
    margin-top: 3.6%;
    margin-left: 1%;
}

#book-form{
    width: 80%;
}

.img-1{
    width: 50%;
    height: 100%;
}

.times{
    width: 67%;
    height: 3em;
    margin-top:30%;
    font-size: 100%;
}

.t1 , .t2{
    margin-left: 40%;
    
    
}

.t3 , .t4{
    margin-left: 0%;
}

.heading{
    font-size: 2em;
    font-weight: 600;
    margin-top: 2%;
}

.ips {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

/* .sub{
    margin-top: 6%;
} */



/* xs */

@media ((min-width: 0px) and (max-width: 576px)) {}

/* small */

@media ((min-width: 576px) and (max-width: 768px)) {
}

/* medium */

@media ((min-width: 768px) and (max-width: 992px)) {}

/* large */

@media (min-width: 992px) {}

/* footer */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #313232;
}

footer .content-f {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content-f p,
a {
    color: #fff;
}

footer .content-f .box-f {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content-f .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;

}

footer .content-f p {
    text-align: justify;
}

footer .content-f .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content-f .lower i {
    padding-right: 16px;
}

footer .content-f .middle {
    padding-left: 80px;
}

footer .content-f .middle a {
    line-height: 32px;
}

footer .content-f .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #232121;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

footer .content-f .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #008893;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #008893;
    transition: all 0.3s ease-in-out;
}

.content-f .right input[type="submit"]:hover {
    background: none;
    color: #008893;
}

footer .content-f .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid none;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}

.content-f .media-icons a:hover {
    border-color: #008893;
}

footer .bottom-f {
    width: 100%;
    text-align: right;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
}

footer .bottom-f a {
    color: #008893;
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: #008893;
}

@media (max-width:992px) {
    footer .content-f .middle {
        padding-left: 50px;
    }
}

@media (max-width:768px) {
    footer .content-f .box {
        width: 50%;
    }

    .content-f .right {
        margin-top: 40px;
    }
}

@media (max-width:576px) {
    footer {
        position: relative;
    }

    footer .content-f .box-f {
        width: 100%;
        margin-top: 30px;
    }

    footer .content-f .middle {
        padding-left: 0;
    }
}

a {
    text-decoration: none;
}
*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
   }


   :root {
    --bg-color-a: #3b39af; /* page header + form label */
    --bg-color-b: #404040; /* calendar header */
    --bg-color-c: #d73a3a; /* buttons */
  }
  .hide { display: none !important; }
  
  /* (B) PERIOD SELECTOR */
  #calPeriod {
    padding: 5px;
    background: var(--bg-color-a);
  }
  #calPeriod input, #calPeriod select {
    font-size: 15px;
    border: 0; outline: none;
    color: #fff; background: 0;
    cursor: pointer;
  }
  #calPeriod option { color: #000; }
  #calYear {
    width: 100px;
    margin-left: 10px;
  }
  
  /* (C) CALENDAR */
  /* (C1) SHARED */
  .calHead, .calRow { display: flex; }
  .calCell { width: 15.2857%; }
  
  /* (C2) HEADER - DAY NAMES */
  .calHead .calCell {
    color: #fff; background: var(--bg-color-b);
    font-weight: 700; text-align: center;
    /* padding: px 0; */
  }
  
  /* (C3) BODY - INDIVIDUAL DAYS */
  .calBlank { background: #eee; }
  .calToday { background: #feffd3; }
  .calToday .cellDate { color: #ff9b9b; }
  .calBody .calCell {
    border: 1px solid #f5f5f5;
    min-height: 0px;
  }
  .cellDate, .evt { padding: 5px; }
  .cellDate {
    font-size: 16px;
    font-weight: 700;
    color: #b5b5b5;
  }
  .evt {
    font-size: 11px;
    white-space: nowrap; text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
  }
  
  /* (D) EVENT FORM */
  #calForm {
    position: absolute; top: 0; left: 0; z-index: 999;
    width: 100vw; height: 100%; min-height: 100vh;
    padding: 0; margin: 0; border: 0;
    background: rgba(0,0,0,0.5);
  }
  #calForm:is([open]) {
    display: flex; flex-wrap: wrap;
  }
  #calForm form {
    position: relative;
    width: 450px; padding: 1px;
    border-radius: 10px;
    background: #fff;
  }
  #evtClose {
    position: absolute;
    top: 0; right: 0;
    padding: 10px;
    color: #b12020;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
  }
  #calForm h2 { margin: 0 0 1px 0; }
  #calForm label, #calForm input[type=text], #calForm textarea { width: 100%; }
  #calForm label {
    color: #a1a1a1;
    font-weight: 700;
    font-size:12px;
    margin-bottom: 5px;
  }
  #calForm input[type=text], #calForm textarea {
    width: 40%;
    padding: 10px;
    border: 1px solid #eee;
    background: #f5f5f5;
  }
  #calForm textarea {
    height: 100px;
    resize: none;
  }
  #calForm input[type=button], #calForm input[type=submit] {
    border: 0; padding: 10px; margin: 10px 2px 0 0;
    color: #fff; background: var(--bg-color-c);
    cursor: pointer;
  }
  .calendar{
    width:40%;
    height:100%;
     position: relative; 
    padding: 0; margin: 0;
    overflow-x: hidden;
  }
